<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Graycore\Cors\Configuration\CorsConfigurationInterface" type="Graycore\Cors\Configuration\Rest\CorsConfiguration" />
    <preference for="Graycore\Cors\Validator\CorsValidatorInterface" type="Graycore\Cors\Validator\CorsValidator"/>
    <type name="Graycore\Cors\Response\HeaderManager">
        <arguments>
            <argument name="headerProviderList" xsi:type="array">
                <item name="CorsAllowHeaders" xsi:type="object">Graycore\Cors\Response\HeaderProvider\CorsAllowHeadersHeaderProvider</item>
                <item name="CorsAllowOrigin" xsi:type="object">Graycore\Cors\Response\HeaderProvider\CorsAllowOriginHeaderProvider</item>
                <item name="CorsAllowMethods" xsi:type="object">Graycore\Cors\Response\HeaderProvider\CorsAllowMethodsHeaderProvider</item>
                <item name="CorsMaxAge" xsi:type="object">Graycore\Cors\Response\HeaderProvider\CorsMaxAgeHeaderProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="graycoreCorsPreflightHandlerRest" type="Graycore\Cors\Response\PreflightRequestHandler" />
    </type>
    <type name="Magento\Framework\Webapi\Rest\Response">
        <plugin name="genericWebApiHeaderPlugin" type="Graycore\Cors\Response\HeaderManager"/>
    </type>
</config>